<%= form_with(model: image, local: true, class: "form") do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field">
    <%= form.label :title, class: "form__label" %>
    <%= form.text_field :title, id: :image_title, class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.label :url, class: "form__label" %>
    <%= form.text_field :url, id: :image_url, class: "form__input" %>
  </div>

  <div class="form__actions">
    <%= form.submit class: "form__submit" %>
  </div>
<% end %>
