<header class="header">
  <h1 class="header__title">PrettyPics</h1>

  <%= link_to 'New Image', new_image_path %>
</header>

<aside class="notice" id="notice"><%= notice %></aside>

<main class="list">
  <% @images.each do |image| %>
    <article class="image">
      <a class="image__link" href="<%= image_path image %>">
        <img class="image__img" src="<%= image.url %>" />
      </a>
      <h2 class="image__title"><%= image.title %></h2>
    </article>
  <% end %>
</main>
