<header class="header">
  <h1 class="header__title">PrettyPics</h1>

  <%= link_to 'New Image', new_image_path %>
</header>

<aside class="notice" id="notice"><%= notice %></aside>

<main class="main">
  <ul class="list">
    <% @images.each do |image| %>
      <li class="list__item">
        <article class="image">
          <%= link_to image_path(image), class: "image__link" do %>
            <img class="image__img" src="<%= image.url %>"
                 width="<%= image_width image %>"
                 height="<%= image_height image %>" />
          <% end %>
          <h2 class="image__title"><%= image.title %></h2>
        </article>
      </li>
    <% end %>
  </ul>

  <% if @images.empty? %>
    <p class="main__empty-text">
      Looks like there aren't any images yet.
      Be the first to&nbsp;<%= link_to 'add one!', new_image_path %>
    </p>
  <% end %>
</main>
