<header class="header">
  <h1 class="header__title">PrettyPics</h1>

  <nav>
    <%= link_to 'New Image', new_image_path %>
  </nav>
</header>

<aside class="notice" id="notice"><%= notice %></aside>

<template id="image-template">
  <%= render 'image_list_item', show_path: "", width: "", height: "",
                                url: "", title: "" %>
</template>

<main class="main">
  <ul class="list" data-num-pages="<%= @images.total_pages %>">
    <% @images.each do |image| %>
      <%= render 'image_list_item', show_path: image_path(image),
                                    width: image_width(image),
                                    height: image_height(image),
                                    url: image.url,
                                    title: image.title %>
    <% end %>
  </ul>

  <% if @images.empty? %>
    <p class="main__empty-text">
      Looks like there aren't any images yet.
      Be the first to&nbsp;<%= link_to 'add one!', new_image_path %>
    </p>
  <% end %>
</main>

<footer class="footer footer--nav">
  <%= paginate @images %>
</footer>
