<% provide :page_title, @image.title %>

<header class="header">
  <h1 class="header__title"><%= @image.title %></h1>

  <%= link_to 'Delete', @image, method: :delete,
                        data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_image_path(@image) %>
  <%= link_to 'Back', images_path %>
</header>

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<img class="big-image" src="<%= @image.url %>">
